[Desktop Entry]
Type=Application
Name=appimagehub
Comment=An Electron wrapper for downoading AppImages from AppImageHub
Exec=./usr/bin/appimagehub.wrapper
Icon=appimagehub
Categories=Utility;
